body {
    font-family: Helvetica, Arial, sans-serif;
}

.forecast-portion {
    border-radius: 4px;
    border: solid 1px #999;
    display: inline-block;
    box-sizing: border-box;
    padding: 6px;
    margin: 4px;
    color: #222;
}